@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$main-bg:hsl(210,
46%,
95%);
$heading-text: hsl(217,
19%,
35%);
$para: hsl(214,
17%,
51%);
$para-lite: hsl(212,
23%,
69%);
$font: 'Manrope',
sans-serif;