    @import 'config';
    @import 'mediaquery';
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $main-bg;
        font-family: $font;
    }
    
    .component {
        display: flex;
        width: 50rem;
        border-radius: 10px;
        box-shadow: 1px 2px 20px $para-lite;
    }
    
    .img-section {
        display: flex;
        width: 100%;
    }
    
    .img-section img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px 0 0 10px;
    }
    
    .text-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        background-color: white;
        position: relative;
        border-radius: 0 10px 10px 0
    }
    
    .heading {
        color: $heading-text;
        font-size: 1.5rem;
    }
    
    .sub-text {
        color: $para;
        font-size: 13px;
        line-height: 1.5;
    }
    
    .profile-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .profile {
        display: flex;
        gap: 1rem;
        font-size: 13px;
    }
    
    .profile img {
        border-radius: 50%;
        height: 3rem;
    }
    
    .name-date {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #usr-name {
        color: $heading-text;
        font-weight: 700;
    }
    
    #date {
        color: $para-lite;
        word-spacing: 2px;
    }
    
    .share {
        display: flex;
        background-color: $main-bg;
        padding: 9px 8px;
        border-radius: 50%;
    }
    
    .share:active {
        background-color: $heading-text;
        &img {
            filter: contrast(0), brightness(200%)
        }
    }
    
    .share-menu {
        display: none;
        position: absolute;
        background: $heading-text;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 13px;
        align-items: center;
        // display: flex;
        gap: 1rem;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 10px;
        right: 0;
        border-radius: 10px;
        box-shadow: 0 5px 10px $para;
        & span {
            color: $para-lite
        }
        & img {
            width: 100%;
        }
        &.visible {
            display: flex;
            animation: scale-anim 0.5s ease;
        }
        &::after {
            animation: none;
            content: '';
            width: 23px;
            height: 12px;
            position: absolute;
            display: flex;
            background-color: $heading-text;
            bottom: -11px;
            left: 48%;
            clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0)
        }
    }
    
    @keyframes scale-anim {
        0% {
            transform-origin: bottom;
            transform: scaleY(0);
        }
        100% {
            transform: scaleY(1);
        }
    }
    
    @media(max-width: 820px) {
        .component {
            width: 90%;
        }
    }
    
    @media(max-width: 500px) {
        .container {
            width: 100%;
            height: 100vh;
            gap: 0;
        }
        .component {
            width: 90%;
            flex-direction: column;
        }
        .img-section {
            img {
                border-radius: 10px 10px 0 0;
            }
        }
        .text-section {
            align-items: center;
            border-radius: 0 0 10px 10px;
            padding-bottom: 1.4rem;
        }
        .profile-tab {
            width: 100%;
        }
        .share {
            z-index: 10;
        }
        .share-menu {
            border-radius: 0 0 10px 10px;
            width: 100%;
            bottom: 0 !important;
            left: 0 !important;
            height: 22%;
            box-shadow: none;
            &::after {
                display: none;
            }
        }
    }